.cardsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 6px #197278;
    margin-bottom: 24px;
    
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: #197278;
    margin-bottom: 12px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}