.button{
    padding: 8px 16px;
    margin: 4px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.submit{
    background-color: #adc178;

}


.cancel{
    background-color: #f25c54;
}

.primary{
    background-color: #264653;
}